[Desktop Entry]
Version=1.1
Type=Application
Name=Geany
Comment=このアプリケーションの簡単な紹介
Icon=geany
Exec=geany %F
Actions=
Categories=X-XFCE;X-Xfce-Toplevel;
